.nav{
    background-color: #000;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-links{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.nav-links li{
    margin: 0 10px;
    
}

.link-main{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.link-main:hover{
    color: #f5f5f5;
}

@media(max-width: 768px){
    .nav{
        flex-direction: column;
        padding: 20px;
        justify-content: center;
        align-items: center;
    }
    .nav{
        flex-direction: column;
        padding: 20px;
    }
    .nav-links{
        margin-top: 20px;
    }
    .link-main{
        font-size: 1.5rem;
    }
}

@media (max-width: 500px){
    .nav{
        padding: 10px;
    }
    .link-main{
        font-size: 1.2rem;
    }
}
